.green {--background: green!important;}
.yellow {--background: #FCDF19!important;}
.orange {--background: orange!important;}
.red {--background: #E20E0D!important;}
.violet {--background: violet!important;}
.brown {--background: brown!important;}

ion-content{
  font-style:Georgia;
}

ion-card {
  border-top: 5px solid rgba(32, 64, 247, 0.671);
}

.ion-card-title{
  font-size: 20px;
  font-weight: bold;
}

.ion-card-titleNight{
  font-size: 20px;
  font-weight: bold;
  color:rgba(163, 160, 160, 0.986);
}

.ion-card-subtitleNight{
  color:rgba(141, 137, 137, 0.986);
}

.colRight{
  text-align:right;
  font-weight: bold;
}


.healthImplication{
  font-size:16px;
}

.healthImplicationNight{
  font-size:16px;
  color:rgba(141, 137, 137, 0.986);
}

.caution{
  font-size:14px;
  font-style:italic;
}

.cautionNight{
  font-size:14px;
  font-style:italic;
  color:rgba(141, 137, 137, 0.986);
}

.errorMessage{
  color:red;
}

.contentNight{
  color:rgba(141, 137, 137, 0.986);
}

