<!-- Available datas:
  <p>Station: {{settings?.airQualityData?.data?.city?.name}}</p>
  <p>Latitude: {{settings?.locationData?.coords?.latitude}}</p>
  <p>Longitude: {{settings?.locationData?.coords?.longitude}}</p>
  <p>Air quality: {{settings?.currentAqiLevel?.status}}</p>
  <p>AQI: {{settings?.airQualityData?.data?.aqi}}</p>

  <p>Status range: {{settings?.currentAqiLevel?.min}} - {{settings?.currentAqiLevel?.max}}</p>
  <p>Desc: {{settings?.currentAqiLevel?.desc}}</p>
  <p>Long desc: {{settings?.currentAqiLevel?.longDesc}}</p>
  <p>Caution: {{settings?.currentAqiLevel?.caution}}</p>

  <p>h: {{settings?.airQualityData?.data?.iaqi?.h?.v}}</p>
  <p>no2: {{settings?.airQualityData?.data?.iaqi?.no2?.v}}</p>
  <p>o3: {{settings?.airQualityData?.data?.iaqi?.o3?.v}}</p>
  <p>p: {{settings?.airQualityData?.data?.iaqi?.p?.v}}</p>
  <p>pm10: {{settings?.airQualityData?.data?.iaqi?.pm10?.v}}</p>
  <p>pm25: {{settings?.airQualityData?.data?.iaqi?.pm25?.v}}</p>
  <p>so2: {{settings?.airQualityData?.data?.iaqi?.so2?.v}}</p>
  <p>t: {{settings?.airQualityData?.data?.iaqi?.t?.v}}</p>
  <p>w: {{settings?.airQualityData?.data?.iaqi?.w?.v}}</p>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      AQI Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--Error message when user enters report page without entering overview page first-->
  <p class="errorMessage"  *ngIf="loadError">DEBUG: You can't load this page first. You must start from overview tab.</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title [ngClass]="{'ion-card-title':!settings.temp.useDarkTheme,'ion-card-titleNight':settings.temp.useDarkTheme}">{{settings?.airQualityData?.data?.city?.name}}</ion-card-title>
      <ion-card-subtitle [ngClass]="{'ion-card-subtitleNight':settings.temp.useDarkTheme}">{{settings?.airQualityData?.timestamp}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p [ngClass]="{'healthImplication':!settings.temp.useDarkTheme,'healthImplicationNight':settings.temp.useDarkTheme}">{{settings?.currentAqiLevel?.longDesc}}.</p>
      <br>
      <p [ngClass]="{'caution':!settings.temp.useDarkTheme,'cautionNight':settings.temp.useDarkTheme}">Caution: {{settings?.currentAqiLevel?.caution}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title [ngClass]="{'ion-card-title':!settings.temp.useDarkTheme,'ion-card-titleNight':settings.temp.useDarkTheme}">Air Pollutant</ion-card-title>
    </ion-card-header>

    <ion-card-content [ngClass]="{'contentNight':settings.temp.useDarkTheme}">
      <canvas #barCanvas></canvas>
      <p>PM 2.5 = Particulate Matter 2.5, refers to tiny particles in the air that are two and one half microns or less in width (VERY small). When there are high levels of it in air, that can affect for people's health and reduce visibility.</p>
      <br>
      <p>NO<sub>2</sub> = Nitrogen dioxide comes mostly from motor vehicle exhaust and burning fossil fuels. The main effects to human health are respiratory problems and lung infections.</p>
      <br>
      <p>PM 10 = The major source of PM10 particles is the dust from the roads. Particles spread deep into respiratory tracts and can cause difficulty in breathing and worsen asthma.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title [ngClass]="{'ion-card-title':!settings.temp.useDarkTheme,'ion-card-titleNight':settings.temp.useDarkTheme}">Details</ion-card-title>
    </ion-card-header>

    <ion-card-content [ngClass]="{'contentNight':settings.temp.useDarkTheme}">
      <ion-grid>
        <ion-row>
          <ion-col  class="colRight">Station:</ion-col><ion-col>{{settings?.airQualityData?.data?.city?.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colRight">Latitude:</ion-col><ion-col>{{settings?.airQualityData?.data?.city?.geo[0]}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colRight">Longitude:</ion-col><ion-col>{{settings?.airQualityData?.data?.city?.geo[1]}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colRight">Air Quality Index :</ion-col><ion-col>{{settings?.airQualityData?.data?.aqi}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Air Quality:</ion-col><ion-col>{{settings?.currentAqiLevel?.status}} ({{settings?.currentAqiLevel?.min}} - {{settings?.currentAqiLevel?.max}})</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Health Implication:</ion-col><ion-col>{{settings?.currentAqiLevel?.desc}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Humidity:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.h?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">NO<sub>2</sub>:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.no2?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">O<sub>3</sub>:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.o3?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Atmospheric Pressure:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.p?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">PM10:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.pm10?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">PM2.5:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.pm25?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">SO<sub>2</sub>:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.so2?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Temperature:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.t?.v}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colRight">Wind:</ion-col><ion-col>{{settings?.airQualityData?.data?.iaqi?.w?.v}}</ion-col>
        </ion-row>
      </ion-grid>
     <!-- 
      <p>Station: {{settings?.airQualityData?.data?.city?.name}}</p>
      <p>Latitude: {{settings?.airQualityData?.data?.city?.geo[0]}}</p>
      <p>Longitude: {{settings?.airQualityData?.data?.city?.geo[1]}}</p>
      <p>AQI: {{settings?.airQualityData?.data?.aqi}}</p>
      <p>Air quality: {{settings?.currentAqiLevel?.status}} ({{settings?.currentAqiLevel?.min}} - {{settings?.currentAqiLevel?.max}})</p>

      <p>Desc: {{settings?.currentAqiLevel?.desc}}</p>


      <p>h: {{settings?.airQualityData?.data?.iaqi?.h?.v}}</p>
      <p>no2: {{settings?.airQualityData?.data?.iaqi?.no2?.v}}</p>
      <p>o3: {{settings?.airQualityData?.data?.iaqi?.o3?.v}}</p>
      <p>p: {{settings?.airQualityData?.data?.iaqi?.p?.v}}</p>
      <p>pm10: {{settings?.airQualityData?.data?.iaqi?.pm10?.v}}</p>
      <p>pm25: {{settings?.airQualityData?.data?.iaqi?.pm25?.v}}</p>
      <p>so2: {{settings?.airQualityData?.data?.iaqi?.so2?.v}}</p>
      <p>t: {{settings?.airQualityData?.data?.iaqi?.t?.v}}</p>
      <p>w: {{settings?.airQualityData?.data?.iaqi?.w?.v}}</p>
     -->
    </ion-card-content>
  </ion-card>

<!--
  <div class="airQualityData">
  <p class="aqt">{{settings?.airQualityData?.data?.aqi}}</p>
  <p><span class="firstWord">Status Range: </span>{{settings?.currentAqiLevel?.min}} - {{settings?.currentAqiLevel?.max}}</p>
  </div>
-->
</ion-content>
