<ion-header>
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Error message when user enters page without entering overview page first-->
<p style="color:red" *ngIf="loadError">You can't load this page first. You must start from overview tab</p>

<ion-content>
    <div id="map_canvas"></div>
</ion-content>
