.green {--background: green!important;}
.yellow {--background: yellow!important;}
.orange {--background: orange!important;}
.red {--background: red!important;}
.violet {--background: violet!important;}
.brown {--background: brown!important;}

#map_canvas {
    width: 100%;
    height: 100vh;
}
