.green {--background: green!important;}
.yellow {--background: #FCDF19!important;}
.orange {--background: orange!important;}
.red {--background: #E20E0D!important;}
.violet {--background: violet!important;}
.brown {--background: brown!important;}

.main-search{
  --background: white;
}

h1, h2, h3, p{
  text-align: center;
  color: white!important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33)!important;
}

.center-y{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

h3{
  font-size: 125px;
}

h1{
  font-size: 50px;
  margin-bottom: -15px;
}

.light{
  color:white!important;
}

#difference{
  font-weight: bold!important;
  font-size: 15px!important;
}
