<ion-content [ngClass]="settings?.currentAqiLevel?.color">

  <div class="center-y">

    <h1>{{settings?.currentCity}}</h1>
    <h3>{{settings?.airQualityData?.data?.aqi}}</h3>

    <h2>{{settings?.currentAqiLevel?.status}}</h2>

    <p id="difference" *ngIf="settings.airQualityData?.diff>0">
      <ion-icon *ngIf="settings.airQualityData?.increased" name="arrow-round-up"></ion-icon>
      <ion-icon *ngIf="!settings.airQualityData?.increased&&settings.airQualityData?.increased!=undefined" name="arrow-round-down"></ion-icon>
      {{settings?.airQualityData?.diff}} compared to the last time
    </p>

    <p *ngIf="settings.airQualityData?.diff==0">{{settings?.currentAqiLevel?.desc}}</p>
  </div>

</ion-content>
