<ion-header>
  <ion-toolbar>
    <ion-searchbar #search placeholder="Enter city name.." search-icon="search" spellcheck="false" [(ngModel)]="searchInput" (ionChange)="autoComplete(searchInput);" (ionCancel)="cancelSearch()" (ionClear)="cancelSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  button *ngFor="let result of autocompleteData; let i = index" (click)="selectResult(i)">
      <ion-label>{{result}}</ion-label>
    </ion-item>

    <small *ngIf="autocompleteData.length==0" style="margin-left:20px;">No search results.</small>

  </ion-list>
</ion-content>
