<ion-header (click)="accept()">
  <ion-toolbar>
    <ion-title>Oops!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding (click)="accept()">
  <img id="center" src="assets/icon/logo_error.png">
  <h3 id="bottom">{{message}}</h3>
</ion-content>
