
h3{
  text-align: center;
}

#bottom{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  text-align: center;
}

#center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
