<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>API playground</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-group>
    <ion-item-divider class="divider">
      <ion-label>Autocomplete API</ion-label>
      <a href="http://geobytes.com/free-ajax-cities-jsonp-api/">docs</a>
    </ion-item-divider>


    <ion-item>
        <ion-input [(ngModel)]="autoCompleteTerm" placeholder="Enter text"  (ionChange)="onAutoCompleteChange()" ></ion-input>
        <ion-button (click)="doAutoComplete()">Show data</ion-button>
    </ion-item>

    <pre>{{ autoCompleteDataStr}}</pre>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider class="divider">
      <ion-label>AirQuality API</ion-label>
      <a href="https://aqicn.org/json-api/doc/">docs</a>
    </ion-item-divider>


    <ion-item>
        <ion-input [(ngModel)]="cityName" placeholder="Enter city name"   (ionChange)="onCityNameChange()"></ion-input>
        <ion-button (click)="getAirQualityByCity()">Show data</ion-button>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="latitude" placeholder="Enter latitude" (ionChange)="onLatitudeChange()"></ion-input>
        <ion-input [(ngModel)]="longitude" placeholder="Enter longitude" (ionChange)="onLongitudeChange()"></ion-input>
        <ion-button (click)="getAirQualityByCoords()">Show data</ion-button>
    </ion-item>

    <pre>{{airQualityDataStr}}</pre>


  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="divider">
      <ion-label>Geolocation API</ion-label>
      <a href="https://ionicframework.com/docs/native/geolocation/">docs</a>
    </ion-item-divider>


    <ion-item>
        <ion-button (click)="getGeolocation()">Show data</ion-button>
    </ion-item>

    <pre>{{geolocationDataStr}}</pre>
  </ion-item-group>



</ion-content>
