<!--Main search bar-->
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Enter city name.." search-icon="search" spellcheck="false" (click)="searchModal()" value=""></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="getCurrentLocation()">
        <ion-icon slot="icon-only" name="pin" style="color:rgb(127, 127, 127)"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Main tabs bar-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-label>Overview</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="stats">
      <ion-label>Report</ion-label>
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-label>Map</ion-label>
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
