.green {--background: green!important;}
.yellow {--background: #FCDF19!important;}
.orange {--background: orange!important;}
.red {--background: #E20E0D!important;}
.violet {--background: violet!important;}
.brown {--background: brown!important;}

h1, h2, h3, p{
  text-align: center;
  color: white!important;
}

.center-y{
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  width: 100%;
}

h3{
  font-size: 125px;
}
ion-searchbar{
  color:rgb(127, 127, 127)!important;
}
