<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--Theme toggle-->
  <ion-item>
    <ion-label>Night theme</ion-label>
    <ion-toggle [(ngModel)]="useDarkTheme" (ionChange)="changeTheme()"></ion-toggle>
  </ion-item>

  <!--Autocomplete sort-->
  <ion-item>
    <ion-label>Sort large cities first</ion-label>
    <ion-toggle [(ngModel)]="sortLargeCitiesFirst" (ionChange)="changeCitySort()"></ion-toggle>
  </ion-item>

  <!--Home city-->
  <ion-item>
    <ion-label>Home city</ion-label>
    <ion-input [(ngModel)]="homeCity" (ionChange)="changeHomeCity()" style="text-align:right;" value="{{homeCity}}"></ion-input>
  </ion-item>

  <!--Clear data-->
  <ion-item>
    <ion-label>Clear all local data</ion-label>
    <ion-button color="danger" (click)="clearAllData()">Proceed</ion-button>
  </ion-item>

</ion-content>
